<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500|Merriweather+Sans:400|Merriweather:400,700">
  <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/static/favicon.png" type="image/x-icon">
  <title>hCard Builder</title>
  <meta name="description" content="hCard Builder: application to build hCard">
</head>
<body>
  <div id="app"></div>
</body>
</html>
